@charset "UTF-8";

html, body, div {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  color: #555;
  font-family: sans-serif;
  text-align: center;
}

p {
  line-height: 1.7;
}

.container {
  overflow: auto;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

.area {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  scroll-snap-align: start;
}
.area:nth-child(even) {
  background-color: yellow;
}
.area:nth-child(odd) {
  background-color: pink;
}

.title {
  font-family: 'Lobster', cursive;
  font-size: 5rem;
}

@media(max-width: 400px) {
  .title {
    font-size: 3rem;
  }
}